
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.list {
	list-style: none;
	padding-left: 0;
	li {
		padding: .5rem;
	}
	li:nth-child(even) {
		background-color: $list-color-light;
	}
	li:nth-child(odd) {
		background-color: $list-color-dark;
	}
}

.thumb {
	cursor: pointer;
}
