
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.list {
	list-style: none;
	padding-left: 0;
	li {
		padding: .5rem;
	}
	li:nth-child(even) {
		background-color: $list-color-light;
	}
	li:nth-child(odd) {
		background-color: $list-color-dark;
	}
}

.thumb {
	cursor: pointer;
}

.delete-icon {
	cursor: pointer;
	background: $danger;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 1px solid $danger;
	position: relative;
	&::after, &::before {
		content: "";
		position: absolute;
		top: 9px;
		left: 5px;
		background: $body-bg;
		width: 12px;
		height: 3px;
		border-radius: 2px;
	}
	&::after {
		transform: rotate(-45deg);
	}
	&::before {
		transform: rotate(45deg);
	}
	&:hover {
		background: $body-bg;
		&::after, &::before {
			background: $danger;
		}
	}
}

.edit-icon {
	cursor: pointer;
	background: $primary;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 1px solid $primary;
	position: relative;
	&::after, &::before {
		content: "";
		position: absolute;
		transform: rotate(-45deg);
	}
	&::after {
		width: 12px;
		height: 6px;
		top: 6px;
		left: 6px;
		background: $body-bg;
	}
	&::before {
		top: 13px;
		right: 13px;
		width: 0;
		height: 0;
		border: 4px solid transparent;
		border-right-color: $body-bg;
	}
	&:hover {
		background: $body-bg;
		&::after {
			background: $primary;
		}
		&::before {
			border-right-color: $primary;
		}
	}
}

.cancel-icon {
	cursor: pointer;
	background: white;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 4px solid $danger;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 9px;
		height: 5px;
		top: 5px;
		left: 3px;
		background: $danger
	}
	&:hover {
		border-color: $secondary;
		&::after {
			background: $secondary;
		}
	}
}

.save-icon {
	cursor: pointer;
	background: $success;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 1px solid $success;
	position: relative;
	&::after, &::before {
		content: "";
		position: absolute;
		background: white;
		transform: rotate(45deg);
	}
	&::after {
		width: 3px;
		height: 12px;
		top: 5px;
		left: 11px;
	}
	&::before {
		width: 7px;
		height: 3px;
		top: 10px;
		left: 3px;
	}
	&:hover {
		background: white;
		&::after, &::before {
			background: $success;
		}
	}
}

.loading-icon {
	&, &::after {
		width: 23px;
		height: 23px;
		border-radius: 50%;
	}
	position: relative;
	border: 2px solid mix($info, white, 30%);
	border-right-color: $info;
	animation: loading 1s infinite linear
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

